<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
    <h1>로그인</h1>
    <div th:if="${param.error}">아이디와 패스워드가 잘못 되었습니다</div>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="아이디">
        </div>
        <div>
            <input type="password" name="password" placeholder="패스워드">
        </div>
        <button type="submit">로그인</button>
    </form>
</body>
</html>